.filters button.selected {
  border-color: rgba(255, 0, 0, 0.2);
}

.filters button:not(.selected) {
  cursor: pointer;
}

.filters button:hover {
  border-color: rgba(175, 47, 47, 0.1);
}

.filters {
  /* display: inline; */
  display: flex;
  cursor: default;
}

.filters button {
  display: inline-block;
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.filters {
  margin: 0;
  padding: 0;
  list-style: none;
  right: 0;
  left: 0;
}
